@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #00ebe3b7;
}

.red-gradient {
  background: linear-gradient(92deg, #052d42 2.87%, #1e78ee 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

:root {
  color-scheme: dark;
}
